.card img {
  width: 100px !important;
  height: 100px !important;
}

.card-footer {
  height: 120px;
  line-height: 50px;
  /* padding: 0rem !important; */
}



.main-page {
  padding: 1.5em;
}

.main-page {
  background-color: #eee !important;
}

@media only screen and (max-width: 330px) {
  /* .logo img {
    width: 80px;
  } */

  .card-footer {
    font-size: small;
    padding: 0rem !important;
  }

  textarea {
    width: 100px;

    background-color: #eee;
  }

  .table th {
    padding: 0px !important;
    font-size: 15px !important;
  }

  .table td {
    padding: 0px !important;
    font-size: 15px !important;
  }

  /* .main-page {
  padding: 1.5em;
} */
  .main-page {
    background-color: #eee !important;
    padding: 0px
  }

}