.card img {
  width: 100px !important;
  height: 100px !important;
}

.card-footer {
  height: 120px;
  line-height: 50px;
  /* padding: 0rem !important; */
}

.main-page {
  padding: 1.5em;
}

.main-page {
  background-color: #eee !important;
}

@media only screen and (max-width: 315px) {
  /* .logo img {
    width: 80px;
  } */

  .card-footer {
    font-size: small;
    padding: 0rem !important;
  }

  /* .main-page {
  padding: 1.5em;
} */
  .main-page {
    background-color: #eee !important;
  }

}